<h5>Attachments</h5>

<div id="attachments">
	<% @post.forum_attachments.each do |fa| %>
		<span class="attachment-<%= fa.id %>">
			<%= fa.file_file_name %> <%= link_to_remote 'delete', :url => forum_attachment_path(fa), :update => "forum_attachments", :method => :delete, :complete => "deleteAttachment(#{fa.id})" %>
		</span>
		<%= "<span class='comma'>, </span>" unless fa == @post.forum_attachments.last %> 
	<% end %>    
</div>

<div id="browse_buttons">
</div>
<br /> 
<div id="files_button"> </div>
<br />